/* Error: Undefined mixin.
 *   ,
 * 2 |   +grid(7.01vh 37.33vh 46px 55px 50px 1fr 7.01vh)
 *   |   ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
 *   '
 *   our-doors-section.sass 2:3  root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: "Error: Undefined mixin.\a   \2577 \a 2 \2502    +grid(7.01vh 37.33vh 46px 55px 50px 1fr 7.01vh)\d\a   \2502    ^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^\a   \2575 \a   our-doors-section.sass 2:3  root stylesheet";
}
